
body{
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  background-color: #ff3333;
}
#container
{
    height:100%;    
}

#container DIV
{ 
    color: white;
    margin:0px; 
    padding:100px; 
}
.retry{
    opacity:0;
}
.hideme
{
    opacity:0;
}
input[type="text"] {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  font-family: sans-serif;
  font-size: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 10px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 10px #969696;
}


body:before {
   font-family: "FontAwesome";
   content:"\f063";
   position:fixed;
   bottom:0;
   width:10%;
   text-align:center;
   z-index:2000;
   display:block;
   color:#333;
   font-size:6vw;
   background-color: rgba(54, 64, 36, 0.5);
   margin-left:45%;
   margin-right:45%;
   padding:.3em .1em;
   -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -ms-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;

 }

 .scrolled:before {
   -webkit-transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   -o-transition: opacity 2s ease-in-out;
   opacity: 0;
 }