<nav>
  <h1>Hello.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/me.gif" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a Computer Science student at McGill University, and I do Computery things.</p>
<!--     <p>
      Edit me in <code>_includes/sidebar.html</code>
    </p> -->
    
  </div>
  <ul>
      <li><a href="">Blog</a></li>
      <li><a href="/Resume.pdf">Resume</a></li>
      <li><a href="">Projects</a></li>
  </ul>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
